@import url("fonts/Dancing-Script/DancingScript.css");
@import url("fonts/Great-Vibes/GreatVibes.css");
@import url("fonts/Merienda/Merienda.css");
@import url("fonts/Roboto-Slab/RobotoSlab.css");

.app {
    font-family: "Roboto Slab", sans-serif;
    min-height: 100vh;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000 !important;
}
.app-content {
    padding: 13rem 0;
    height: 100vh;
    overflow: auto;
    background: rgb(172,177,189);
    background: linear-gradient(45deg, rgba(172,177,189,0.9865196078431373) 0%, rgba(226,226,226,1) 50%);
}
.navbar {
    background: rgb(228,255,0);
    background: linear-gradient(330deg, rgba(228,255,0,0.9865196078431373) 0%, rgba(223,223,223,1) 100%);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(14, 12, 54);
    background: linear-gradient(45deg, rgba(14, 12, 54, 1) 0%, rgba(40, 130, 184, 1) 100%);
}

.bgc-1F1E30 {
    background-color: #1F1E30 !important;
}
.bgc-FFA500 {
    background-color: #FFA500 !important;
}
.bgc-1C152D {
    background-color: #1C152D !important;
}
.bgc-1A1E23 {
    background-color: #1A1E23 !important;
}
.bgc-CBD3D5 {
    background-color: #CBD3D5 !important;
}

.object-fit-cover {
    object-fit: cover;
}
.object-fit-contain {
    object-fit: contain;
}

.cursor-pointer {
    cursor: pointer;
}

.notification-list {
    display: none;
    width: 100%;
    height: 25rem;
    position: absolute;
    top: 2.5rem;
    transform: translateX(0);
    overflow-x: hidden;
    overflow-y: auto;
}
.notification-badge:hover .notification-list {
    display: block;
}

.observation-list {
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.approved-observation-list {
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
}
#comment-section {
    height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.auth-form {
    width: 100%;
}
.carousel-img {
    height: 24rem;
    object-fit: contain;
}
.navbar-logo {
    width: 50px;
}
.navbar-title {
    font-size: large;
}
@media (min-width: 576px) {
    .app-content {
        padding: 10rem 0;
    }
    .navbar-logo {
        width: 100px;
    }
    .navbar-title {
        font-size: larger;
    }
    .auth-form {
        width: 40%;
    }
    .notification-list {
        width: 18rem;
        transform: translateX(-70%);
    }
}
.some-margin {
    display: none;
}
.border-black {
    border: 1px solid black;
}
.text-justify {
    text-align: justify;
}